@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

._hidden {
  display: none !important;
}

.bold {
  font-family: "PT Sans";
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:active, a:focus {
  outline: medium none;
}

a img {
  border: 0 none;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.link-grey {
  color: #dcdccd;
}

.link-grey:hover {
  color: #d47a00;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("./fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("./fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway_Extra_Bold";
  src: url("./fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("./fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("./fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}


@font-face {
  font-family: 'PTSerif';
  src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Bold"), url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"), url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype"), url("../fonts/PTSerifRegular/PTSerifRegular.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: 'PTSerif';
  src: url("../fonts/PTSerifBold/PTSerifBold.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Serif"), url("../fonts/PTSerifBold/PTSerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifBold/PTSerifBold.woff") format("woff"), url("../fonts/PTSerifBold/PTSerifBold.ttf") format("truetype"), url("../fonts/PTSerifBold/PTSerifBold.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon/Flaticon.eot");
  src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon/Flaticon.woff") format("woff"), url("../fonts/Flaticon/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RobotoCondensedBold";
  height: 100%;
  min-width: 1400px;
}

.header_main{
  background-color: #353535;
  height: 65px;
  margin: 0 auto;
  z-index: 0;
}

header{
 height: 65px;
 width: 1280px;
 margin: 0 auto;
}

.wrapper_width{
  width: 1280px;
  margin: 0 auto;
  padding: 0px;
  padding-right: -10px;
}

.functions{
  width: 1280px;
  height: 65px;
}

a.logo{
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url(./image/logo.png);
  height: 26px;
  width: 26px;
  margin-right: 10px;
  background-size: contain;
  float: left;
  margin-top: 20px;
  position: relative;
  margin-left: 10px;

}

a.logo:before{
  content: "constructor";
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 50px 50px;
  background: #f7931b;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  left: 35px;
}


header .navigator_menu{
  float: right;
  margin-right: 10px;
}

a.circle{
  display: inline-block;
  float: left;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 20px;
  background: #fff; 
  padding: 10px;
  line-height: 10px;
  margin-top: 20px;
  height: 10px;
  width: 10px;
  overflow: hidden;
  transition: ease 0.3s;
}

a.button{
  width: 100%;
  height: auto;
  display: inline-block;
  
}

a.circle span {
  display: inline-block;
  float: left;
  overflow: hidden;
  transition: ease 0.3s;
}

a.circle span.long_tex{
  width: 0;
}

a.circle:hover{
  width: 150px;
}

a.citcle:hover span.long_tex{
  width: 150px;
}

a.circle span.abrv{

  width: 11px;
}

a.circle:hover span.abrv{
  width: 0;
}


.maim_wrapper {
  position: relative;
  min-height: 100%;
}

.buttom{
  height: 65px;
  width: 208px;
  background-color: #d6d6d6;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  line-height: 60px;
}

.cansel{
  margin-left: 10px;
  position: relative;
}

.save{
  float: right;
  margin-right: 10px;
  position: relative;
}

.save:before{
  content: "";
  background: url("./image/save.png") no-repeat center;
  -webkit-background-size: contain  ;
  background-size: contain  ;
  display: inline-block;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 18px;
  left: 55px;
}

.cansel:before{
  content: "";
  background: url("./image/close_white.png") no-repeat center;
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 40px;
  border: 1.5px solid #fff;
  padding: 5px;
  position: absolute;
  top: 17px;
  left: 55px;
  

}

.oparations{
  padding-left: 90px;
  font-family: "Relaway Raleway-ExtraBold";
  color:#fff;
}

/*.icon_operations{
  display: inline-block;
  height: 9px;
  width: 9px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3px;
  margin-left: -80px;
  margin-bottom: -4px;
}*/
 .circle span{
  padding: 3px;
  font-size: 11px;
  font-family: "Raleway-ExtraBold";
 

 }

.content_wrapper{
background:#eeeeee; 
}

.titles{
  clear: both;
  height: 80px;
  width: 100%;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  background-color: #f0f0f0;
  margin-left: 10px;
  color: #d6d6d6;
  position: relative;
  
}

.titles:before{
  content: "";
 background: url("./image/rectangle.png") no-repeat center;
 height: 20px;
 width: 20px;
 top: 25px;
 left: 55px;
 position: absolute;
}

.titles a {
  margin-right: 30px;
  opacity: 0.3;  
}

.buttom:hover{
  background-color: #ef7e81;
}

.titles a:hover{
  opacity: 1;
  transition: ease 0.3s;
}

.content {
  padding-bottom: 90px;
}

.squerts_wrapper {
  display: inline-block;
  height: 100%;
  width:1280px;
}

.squerts{
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-block;
  height: 330px;
  width: 300px;
  background-color: #d6d6d6;
  cursor: pointer;
}

.squerts>div{
  display: inline-block;
  height: 330px;
  width: 300px;
}

.squerts:hover{
  background-color: #ef7e81;
}

/*.squerts>div:before{
  content: "";
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #d8d8d8;
}*/

.namber_program{
  display: inline-block;
  color:#000000;
  font-size: 24px;
  margin-left: -50px;
  margin-top:165px;
}

.name_program{
  display: inline-block;
  margin-top: 130px;
  margin-left: 20px;
  color: #ffffff;
  font-size:14px;
  float: left;
}

.namber_program:first-letter{
  text-transform: uppercase;
}

.pen{
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.4;
  transition: ease 0.3s;
  margin-left: 140px;
  margin-top: 25px;
  background: #fff url(./image/fgh.png) no-repeat center;
  background-size: 30px 30px; 
  margin-right: 20px;
}

.squerts.on_hold .pen{
  opacity: 1;
}

/*.active_circle{
  width: 80px;
  height: 40px;
  background: #e2e1e1;
  border-radius: 40px;
  margin-top: 25px;
  margin-left: 20px;
  position: relative;
  float: left;
  transition: ease 0.5s; 
}

.active_circle:after{
  content: "";
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: ease 0.5s;
}

.active_circle:hover{
  background: #83c27f;
}

.active_circle:hover:after{
  left: 45px;
}
*/
section{
display: inline-block;
width: 80px;
height: auto;
}

.slideOne {
  float: left;
  margin-top: 25px;
  margin-left: 20px;

  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);*/
}

.slideOne label{
  display: block; 
  width: 80px;
  height: 40px;
  background: #83c27f;
  position: relative;
  border-radius: 40px;
  transition: ease 0.25s;
  cursor: pointer;
}

.slideOne label:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px; 
    background: #fff;
    /*background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
    border-radius: 50px;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);*/
    transform: translateX(40px);
    transition: all 0.4s ease;
}

input[type=checkbox]{
  /*visibility: hidden;*/
  display: none;
}

input[type=checkbox]:checked + label:after {
  transform: translateX(0);
}  

input[type=checkbox]:checked + label{
  background: #eee;
}

